/**
 * Sticky Button
 * =================================
 * - Chatbot Type Button
 *
 *
 *
 *
 *
 */

.float {
    background-color: #7498be;
    border-radius: 50px;
    bottom: 40px;
    box-shadow: 2px 2px 3px #999999;
    color: #FFFFFF;
    height: 60px;
    position: fixed;
    right: 40px;
    text-align: center;
    width: 60px;
    z-index: 2;
}

.floating-button {
    margin-top: 22px;
}